$active-color: rgba(125, 197, 241, 0.932);

$mainFont-color: #333333;
$activeFont-color: #fff;
$subFont-color: #999999;

$center-padding: 15%;

$mainFont-size: 16px;
$subFont-size: 10px;

// modify antd style in root
#root .ant-btn {
    background-color: $active-color;
    box-shadow: none;
}

#root .ant-avatar {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#root .ant-avatar>img {
    width: 100%;
}

// modify antd style in modal
.ant-modal-root {
    .ant-btn {
        background-color: $activeFont-color;
        color: $mainFont-color;
        box-shadow: none;
    }

    .ant-modal-footer .ant-btn {
        font-size: $subFont-size;
    }

    .ant-btn:hover {
        background-color: $active-color;
    }

    .ant-tabs {

        color: $mainFont-color;

        .ant-tabs-nav-wrap {
            justify-content: center;
        }

        .ant-tabs-ink-bar {
            visibility: hidden;
        }

        .ant-tabs-tab,
        .ant-tabs-tab-active {
            font-size: $mainFont-size;
        }

        .ant-tabs-tab:hover,
        .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn,
        .ant-tabs-tab-btn:hover {
            color: $active-color;
        }
    }

    .ant-form {
        padding: 5% 10% 0 10%;

        .ant-btn:hover {
            background-color: $activeFont-color;
            color: $active-color;
            border-color: $active-color;
        }

        .ant-checkbox-inner,
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
        .ant-radio-inner,
        .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-inner,
        .ant-input-affix-wrapper:hover,
        .ant-input-affix-wrapper-focused,
        .ant-input:hover,
        .ant-input:focus {
            border-color: $active-color;
        }

        .ant-checkbox-checked .ant-checkbox-inner,
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner,
        .ant-radio-checked .ant-radio-inner,
        .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-checked:not(.ant-radio-disabled) .ant-radio-inner {
            background-color: $active-color;
        }

        .ant-checkbox-checked::after {
            border: 0px;
        }

        .ant-checkbox-checked-focused:hover {
            border-color: $active-color;
        }

    }



}