$activeBackGround-color: rgba(125, 197, 241, 0.932);
$mainBackGround-color: rgb(250, 250, 250);
$subBackGround-color: rgba(0, 0, 0, 0.5);

$mainFont-color: #333333;
$activeFont-color: #fff;
$subFont-color: #999999;

$center-padding: 15%;

$mainFont-size: 16px;
$subFont-size: 10px;

// modify antd style in root
#root .topNav-login {
    .ant-btn {
        background-color: $activeBackGround-color;
        box-shadow: none;
    }

    .ant-avatar {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    .ant-avatar>img {
        width: 100%;
    }
}

#root .ant-form {
    .ant-btn:hover {
        background-color: $activeFont-color;
        color: $activeBackGround-color;
        border-color: $activeBackGround-color;
    }

    .ant-btn-default {
        background-color: $activeFont-color;
    }

    .ant-checkbox-inner,
    .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
    .ant-radio-inner,
    .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-inner,
    .ant-input-affix-wrapper:hover,
    .ant-input-affix-wrapper-focused,
    .ant-input:hover,
    .ant-input:focus {
        border-color: $activeBackGround-color;
    }

    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-checked:not(.ant-radio-disabled) .ant-radio-inner {
        background-color: $activeBackGround-color;
    }

    .ant-checkbox-checked::after {
        border: 0px;
    }

    .ant-checkbox-checked-focused:hover {
        border-color: $activeBackGround-color;
    }

}

#root .ant-upload {
    width: 500px;
    height: 500px;
}

#root .content-button {

    .ant-btn {
        margin-right: 2%;
        height: 40px;
        background-color: $activeFont-color;
        color: $mainFont-color;
        box-shadow: none;
    }

    .ant-btn:hover {
        background-color: $activeFont-color;
        color: $activeBackGround-color;
        border-color: $activeBackGround-color;
    }
}

// modify antd style in modal
.ant-modal-root {

    .ant-btn {
        background-color: $activeFont-color;
        color: $mainFont-color;
        box-shadow: none;
    }

    .ant-modal-footer {
        .ant-btn {
            font-size: $subFont-size;
        }

        .ant-btn-default {
            border: none;
        }

        .ant-btn-default:not(:disabled):hover {
            color: #fff;
            border: $activeBackGround-color;
        }
    }

    .ant-btn:hover {
        background-color: $activeBackGround-color;
    }

    .ant-tabs {

        color: $mainFont-color;

        .ant-tabs-nav-wrap {
            justify-content: center;
        }

        .ant-tabs-ink-bar {
            visibility: hidden;
        }

        .ant-tabs-tab,
        .ant-tabs-tab-active {
            font-size: $mainFont-size;
        }

        .ant-tabs-tab:hover,
        .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn,
        .ant-tabs-tab-btn:hover {
            color: $activeBackGround-color;
        }
    }

    .ant-form {
        padding: 5% 10% 0 10%;

        .ant-btn:hover {
            background-color: $activeFont-color;
            color: $activeBackGround-color;
            border-color: $activeBackGround-color;
        }

        .ant-checkbox-inner,
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
        .ant-radio-inner,
        .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-inner,
        .ant-input-affix-wrapper:hover,
        .ant-input-affix-wrapper-focused,
        .ant-input:hover,
        .ant-input:focus {
            border-color: $activeBackGround-color;
        }

        .ant-checkbox-checked .ant-checkbox-inner,
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner,
        .ant-radio-checked .ant-radio-inner,
        .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover .ant-radio-checked:not(.ant-radio-disabled) .ant-radio-inner {
            background-color: $activeBackGround-color;
        }

        .ant-checkbox-checked::after {
            border: 0px;
        }

        .ant-checkbox-checked-focused:hover {
            border-color: $activeBackGround-color;
        }

    }



}