@import '../../Common/Styles/common.scss';

.header-wrapper {
    padding: 0 $center-padding;
}

$top-font-size: 25px;

.topNav-wrapper {
    display: flex;
    height: 100px;
    font-size: $top-font-size;
    border-bottom: 1px solid $subFont-color;

    .topNav-items {
        height: 100%;
        color: $mainFont-color;

        &:hover {
            background-color: $activeBackGround-color;
            color: $activeFont-color;
        }
    }

    .active {
        background-color: $activeBackGround-color;
        color: $activeFont-color;
    }

    .topNav-logo {
        flex: 1.5;
    }

    img {
        width: 100px;
        border-color: transparent;
    }

    .topNav-home {
        flex: 1;
    }

    .topNav-myMusic {
        flex: 1.5;
    }

    .topNav-search {
        flex: 3;
    }

    .topNav-login {
        flex: 1;
    }

    .topNav-logo,
    .topNav-home,
    .topNav-myMusic,
    .topNav-search,
    .topNav-login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}