@import '../Common/Styles/common.scss';

.mymusic-create {
    margin: 5% 0;

    .mymusic-create-content-button {
        margin: 2%;
    }

    .mymusic-create-content-list {
        font-size: $subFont-size;
        color: $subFont-color;
        background-color: $mainBackGround-color;

        .mymusic-create-content-list-header {
            display: grid;
            padding-left: 100px;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            height: 80px;
            line-height: 1;

            li {
                padding: 10px;
                min-width: 50px;
            }
        }

        .mymusic-create-content-list-item:nth-child(even) {
            background-color: $activeFont-color;
        }

        .mymusic-create-content-list-item {
            display: grid;
            padding-left: 100px;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            height: 100px;
            line-height: 1;
            color: $mainFont-color;

            &:hover {
                >span span {
                    display: flex;
                }
            }

            >span {
                display: flex;
                align-items: center;
                padding: 10px;
                min-width: 50px;

                a:not(:has(span)) {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 20px;
                    color: $mainFont-color;

                    &:hover {
                        color: $activeBackGround-color;
                    }
                }

                span {
                    display: none;
                    margin-left: 8px;
                    font-size: 25px;
                    color: $activeBackGround-color;
                    cursor: pointer;
                }
            }
        }
    }
}